
<div class="image">
    <img>
</div>

<div class="content">
  <div class="header" id="<%= dom_id post %>">
    <p>
      <%= post.tittle %>
    </p>
  </div>
</div>

<div class="content">
    <p class="ui label">
      <%= time_tag post.created_at, "data-local": "time-ago"%>
    </p>

    <p>
      <%= post.content.to_plain_text.truncate(180) %>
    </p>

    <p>
      <strong><%= pluralize post.comments.count, "comment" %></strong>
    </p>
</div>
